/* *************** Navbar *************** */
img {
	height: 50px;
	width: 50px;
}

.register__hidden__sm__lg__area {
	margin-right: 10px;
}


/* *************** Banner *************** */
.carousel-inner img {
	width: auto;
	height: 700px;
	filter: brightness(45%);
}
.carousel-caption {
	bottom: 30% !important;
	width: 50%!important;
	text-align: center;
	margin: 0 auto;
}
.carousel-caption h1 {
	font-size: 50px;
}
.carousel-caption p {
	font-size: 15px;
}


/* --------------- Responsive__area --------------- */
/* *************** Navbar *************** */
/* for lg screen */
@media only screen and (min-width: 768px) {
	.register__hidden__md {display: none!important;}
}

/* for md screen */
@media only screen and (min-width: 992px) {
	.register__hidden__sm__lg {display: none!important;}
	.register__hidden__md {display: block!important;}
}

/* *************** Banner *************** */

@media only screen and (max-width: 1411px) {
	.carousel-caption {
		bottom: 25% !important;
	}
	.carousel-caption h1 {
		font-size: 50px;
	}
	.carousel-caption p {
		font-size: 15px;
		padding: 8px 0!important;
	}
}
@media only screen and (min-width: 1500px) {
	.carousel-inner img {
		height: 800px;
	}
	.carousel-caption {
		bottom: 25% !important;
	}
	.carousel-caption h1 {
		font-size: 65px;
	}
	.carousel-caption p {
		font-size: 20px;
		padding: 10px 0!important;
	}
}
@media only screen and (min-width: 1750px) {
	.carousel-inner img {
		height: 900px;
	}
	.carousel-caption {
		bottom: 28% !important;
	}
}
@media only screen and (min-width: 2000px) {
	.carousel-inner img {
		height: 1000px;
	}
	.carousel-caption {
		/* bottom: 50% !important; */
	}
}
@media only screen and (max-width: 991px) {
	.carousel-inner img {
		height: 600px;
	}
	.carousel-caption {
		bottom: 25% !important;
		width: 80%!important;
	}
	.carousel-caption h1 {
		font-size: 45px;
	}
	.carousel-caption p {
		font-size: 15px;
		padding: 5px 0!important;
	}
}

/* common */
@media only screen and (max-width: 767px) {
	/* navbar */
	.register__hidden__sm__lg {display: none!important;}

	/* banner */
	.carousel-inner img {
		height: 300px;
	}
	.carousel-caption {
		bottom: 14% !important;
		width: 80%!important;
	}
	.carousel-caption h1 {
		font-size: 25px;
	}
	.carousel-caption p {
		font-size: 12px;
		padding: 5px 0!important;
	}
	.card__area img {height: 250px!important;}
}

/* *************** Popular Courses *************** */
/* See More courses Button */
@media only screen and (min-width: 992px) {
	.view__all__button {display: none !important;}
}
@media only screen and (max-width: 991px) {
	.see__more__button {display: none !important;}
}